<div class="contenedor">
    <div class="inputs">
        <label for="">Edad 1:</label>
        <input type="text" [(ngModel)]="edadUno">
    </div>
    <div class="inputs">
        <label for="">Edad 2:</label>
        <input type="text" [(ngModel)]="edadDos">
    </div>
    <div class="inputs">
        <label for="">Promedio:</label>
        <input type="text" value="{{promedio}}" readonly>
    </div>
    <div class="inputs">
        <label for="">Suma:</label>
        <input type="text" value="{{sumaTotal}}" readonly>
    </div>
    <div class="botones">
        <button (click)="calcular()">Calcular</button>
        <button (click)="limpiar()">Limpiar</button>
    </div>
</div>
<router-outlet>
</router-outlet>