<div class="contenedor">
    <label for="">Edad 1:</label><br>
    <input type="text" [(ngModel)]="edadUno">
    <br><br>
    <label for="">Edad 2:</label><br>
    <input type="text" [(ngModel)]="edadDos"><br>
    <br>
    <label for="">Promedio:</label><br>
    <input type="text" value="{{promedio}}"><br><br>
    <label for="">Suma:</label><br>
    <input type="text" value="{{sumaTotal}}"><br><br>
    <button (click)="calcular()">Calcular</button>
    <button (click)="limpiar()">Limpiar</button>
</div>
<router-outlet>
</router-outlet>